<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xudu.culturaltravelbackend.mapper.ScenicAreaMapper">

    <resultMap id="BaseResultMap" type="com.xudu.culturaltravelbackend.model.entity.ScenicArea">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="scenicAreaName" column="scenicAreaName" jdbcType="VARCHAR"/>
            <result property="scenicAreaInfo" column="scenicAreaInfo" jdbcType="VARCHAR"/>
            <result property="scenicAreaLongitude" column="scenicAreaLongitude" jdbcType="DOUBLE"/>
            <result property="scenicAreaLatitude" column="scenicAreaLatitude" jdbcType="DOUBLE"/>
            <result property="scenicAreaImage" column="scenicAreaImage" jdbcType="OTHER"/>
            <result property="scenicAreaVoice" column="scenicAreaVoice" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,scenicAreaName,scenicAreaInfo,
        scenicAreaLongitude,scenicAreaLatitude,scenicAreaImage,
        scenicAreaVoice,createTime,updateTime,
        isDelete
    </sql>
</mapper>
